.simple-header {
  //top: 0;
  //left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #fff;
  //border-bottom: 1px solid #dcdcdc;

  .simple-header-name {
    font-size: 16px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }

  .icon_n {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}